.current {
  position: relative;
}

.current-element::after {
  display: block;
  content: "";
  height: 4px;
  width: 100%;
  border-radius: 2px;
  position: absolute;
  background: #2196f3;
  bottom: 0;
}

.nav-list-wrapper__list-link.current {
  color: var(--interactive-color);
}
