.values-section {
  background: #ffffff;
}

.values-list-wrapper {
  display: flex;
  justify-content: center;
  margin-left: -30px;
  margin-top: -30px;

  h3 {
    font-family: var(--main-font), sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--label-color);
    margin-bottom: 10px;
  }

  p {
    font-family: var(--main-font), sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;

    letter-spacing: 0.03em;

    color: var(--description-color);
  }
}

.values-list-wrapper__item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 120px) / 4);
}

/* = = = = = = = = = = = */

.values-svg-wrapper {
  display: flex;
  justify-content: center;
  height: 120px;
  align-items: center;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
}
